body {
    font-family: "Helvetica Neue", Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.intro-text{
  
  padding: 40px;
}
h{
  color:#118AFA;
  font-size: 20px;
}
.checkbox-color[type="checkbox"].filled-in:checked + label:after{
    border: 2px solid #118AFA;
    background-color:#118AFA;
}
.btn-next{
    border: 2px solid #118AFA;
    background-color:#118AFA;
    margin-top:10%;
}
.logo {
    width: 35px;
    margin-right: 15px;
    margin-top: 10px;
  }