<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Interfondos</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="../css/login.css">
</head>
<body>
  <nav class="login view-mobile">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo center">BANCA-TI</a>
    </div>
  </nav>
  <!-- <div class="login view-desktop">
      <h2 class="title center-align"><img src="../assets/images/logo_blanco.png" alt="logo_blanco"></h2>
  </div>   -->
  <div class="container login">
    <div class="row">
        <form class="col s10 m4 offset-s1 offset-m4 border">
          <h4 class="center-align">Conoce más sobre tus fondos mutuos</h4>
          <div class="row">
            <div class="input-field col s8">
              <input id="dni" type="text" class="validate">
              <label for="dni">N° de documento</label>
            </div>
            <div class="input-field col s4">
              <select>
                <option value="selectdni" selected>DNI</option>
                <option value="2">Pasaporte</option>
                <option value="3">CE</option>
              </select>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Clave Web</label>
            </div>
            <p class="color-main center-align">Olvide mi contraseña</p>            
          </div>
          <div class="row">
            <div class="col s12 center-align">
                <a class=" waves-effect waves-light btn" disabled id="btnLogin">Ingresar</a>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <p class="center-align">¿Aún no tienes cuenta? <a href="signup.html"><span class="color-main">Regístrate</span></a></p>
            </div>
          </div>
          
          <!-- <footer class="row">
            <h6 class="color-main">Atención al cliente</h6>
            <ul class="col s6 attention">
              <li>Lima:</li>
              <li>618 4500</li>
            </ul>
            <ul class="col s6 attention">
              <li>Provincia:</li>
              <li>003</li>
            </ul>
          </footer> -->
        </form>
      </div>
  </div>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!--Firebase-->
  <script src="https://www.gstatic.com/firebasejs/5.0.4/firebase.js"></script>
  <script src="../js/conexion-firebase.js"></script>
  <script src="../js/ejemplo.js"></script>
</body>
</html>