<?xml version="1.0" encoding="UTF-8"?>

<Configuration>
    
    <Properties>
        <Property name="name">sucesos</Property>
        <Property name="fileName">
            ${web:rootDir}/logs/log-${date:yyyy-MM-dd}.log
        </Property>
        <Property name="pattern">
            %d{HH:mm:ss} %-5p %c{2} - %m%n
        </Property>
    </Properties>
    
    <Appenders>
        <File name="${name}" append="true" fileName="${fileName}">
            <PatternLayout pattern="${pattern}"/>
        </File >
    </Appenders>
    
    <Loggers>
        <Root level="info">
            <AppenderRef ref="${name}"/>
        </Root>
    </Loggers>
    
</Configuration>

